<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='./app.css') }}">
    
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="#">Edit Page</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </nav>
      </header>
      
    <!-- <form action="#" method="POST">
        <input type="text" value="">
        <input type="text">
        <input type="submit" name="submit">
    </form> -->
    <b>Bold Text</b>
    <strong>This text is important</strong>
    <i>Italic Text</i>
    <em>This text is emphasized</em>
    <u>Underline Text</u>
    <pre>Pre-formatted Text</pre>
    <code>Source code</code>
    <del>Deleted text</del>
    <mark>Highlighted text (HTML5)</mark>
    <ins>Inserted text</ins>
    <sup>Makes text superscripted</sup>
    <sub>Makes text subscripted</sub>
    <small>Makes text smaller</small>
    <kbd>Ctrl</kbd>
    <blockquote>Text Block Quote</blockquote>
    <!-- {% for i in range(context[0],context[1],10): %}
    <progress value={{i}} max="100"></progress>
    {% endfor %} -->
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482352.006134258!2d72.41354197343748!3d19.178814600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9795b2d4a9b%3A0xee35d75e8490a585!2sCapgemini%20Knowledge%20Park!5e0!3m2!1sen!2sin!4v1686996774407!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</iframe>
<img loading="lazy" src="https://i.ytimg.com/vi/ukM8ALjUK1I/maxresdefault.jpg" alt="Describe image here" width="400" height="400">

<iframe width="560" height="315" src="https://www.youtube.com/embed/ukM8ALjUK1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<table class="my-table">
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1, Cell 1</td>
      <td>Row 1, Cell 2</td>
      <td>Row 1, Cell 3</td>
    </tr>
    <tr>
      <td>Row 2, Cell 1</td>
      <td>Row 2, Cell 2</td>
      <td>Row 2, Cell 3</td>
    </tr>
  </tbody>
</table>


<footer>Done by Shyam Goli</footer>

</body>
</html>